.navbar{
    background-color: #425563;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 3;
    align-items: center;
    height: 6rem;
}
.container{
    width: 86%;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.logo{
    width: 90px;
    cursor: pointer;
}
.link{
    display: flex;
    gap: 30px;
}
.link li{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
.btn{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #FDE1FF;
    color: black;
    font-weight: bold;
}