.c{
    width: 100%;
    background-color: #425563;
    overflow: hidden;
    position: relative;
}
.header{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    height: calc(100vh - 5rem);  
    display: flex;
    justify-content: space-between;

}
.right img{
    position: absolute;
    top: -2rem;
    right: -20rem;
    object-fit: cover;
    height: 100vh;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    z-index: 1;
}
.left p{
    font-size: 5rem;
    color: white;
    font-weight: bold;
    margin-bottom: 5%;
}
.left .btn{
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 40px;
}
.hello{
    font-size: 1.5rem;
    color: white;
}
@media screen and (max-width:900px){
    .left p{
        font-size: 3rem;
    }
}
@media screen and (max-width:600px){
    .left p{
        font-size: 2rem;
    }
    .right img{
        height: 80vh;
        top: -2rem;
        right: -25rem;
    }
}
